<a href="https://colab.research.google.com/github/Oak-ke/Web-Scraping-and-Data-Cleaning-Project/blob/main/webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrapping Data From Wikipedia on Population in Kenya -  Listing the Population by Cities and Towns

In [72]:
from bs4 import BeautifulSoup
import requests

# Set headers with a proper User-Agent
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
try:
    response = requests.get(url, headers=headers, timeout=10)
    response.raise_for_status()  # Raises an HTTPError for bad responses

    # If we get here, the request was successful
    soup = BeautifulSoup(response.content, 'html.parser')

except requests.exceptions.ConnectionError:
    print("Error: Failed to connect to the server. Check your internet connection.")

except requests.exceptions.Timeout:
    print("Error: The request timed out. Server took too long to respond.")

except requests.exceptions.HTTPError as e:
    print(f"Error: HTTP error occurred: {e}")

except requests.exceptions.RequestException as e:
     print(f"Error: An unexpected error occurred: {e}")

In [73]:
table = soup.find_all('table')[2]

In [74]:
soup.find('table', class_ = 'wikitable')
headers = table.find_all('th')  # Gets actual <th> elements

if headers:
    header_text = [header.get_text(strip=True) for header in headers]
    print("Headers found:", header_text)
else:
    print("No <th> elements found")

Headers found: ['№', 'City/ Town', 'Status', 'Population', 'County', 'Ref']

In [53]:
import pandas as pd

In [75]:
headers = [header.get_text(strip=True) for header in headers]
headers

['№', 'City/ Town', 'Status', 'Population', 'County', 'Ref']

In [76]:
df = pd.DataFrame(columns = headers)

df

Empty DataFrame
Columns: [№, City/ Town, Status, Population, County, Ref]
Index: []

In [57]:
column_data = table.find_all('tr')

In [77]:
for row in column_data[1:]:
    row_data = row.find_all ('td')
    individual_row_data = [data.text.strip() for data in row_data]


    length = len(df)
    df.loc[length] = individual_row_data

In [84]:
df.head(10).style.hide(axis="index")